<section id="books" class="books container">
  <div class="books-content">
    <div class="books-categories">
      <h2 hidden>Trending books</h2>
      <div class="books-categories-block">
        <div class="books-category-title">
          <h3>Books</h3>
          <p>
            Showing <span class="books-carrent-quantity">24</span> of
            <span class="books-all-quantity">100</span>
          </p>
        </div>

        <select name="books-catgories" class="books-category-select">
          <option>Categories</option>
          <option value="">All Categories</option>
        </select>
      </div>

      <ul class="books-category">
        <li
          class="books-category-item selected"
          data-category-name="books-all-categories"
        >
          All categories
        </li>
      </ul>
    </div>
    <div class="books-box-cards">
      <div class="book-card">
        <ul class="books-list">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li>
        <li class="books-item">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li>
        <li class="books-item">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li>
        <li class="books-item">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li>
        <li class="books-item">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li>
        <li class="books-item">
          <img src="./img/book1.jpg" alt="" />
          <div class="book-card-content">
            <div class="book-card-heading">
              <h3>I will find you</h3>
              <p>Harlan Coben</p>
            </div>
            <div class="book-card-price">15$</div>
          </div>
          <button class="book-learn-more">Learn more</button>
        </li> -->
        </ul>
        <span class="books-loader"></span>
        <div class="books-button-load-more">
          <button class="books-load-more">Load more</button>
        </div>
        <!-- <div class="books-loader"></div> -->
      </div>
    </div>
  </div>
</section>
