<section id="books" class="books container">
  <div class="books-content">
    <div class="books-categories">
      <h2 hidden>Trending books</h2>
      <div class="books-categories-block">
        <div class="books-category-title">
          <h3>Books</h3>
          <p>
            Showing <span class="books-carrent-quantity">24</span> of
            <span class="books-all-quantity">100</span>
          </p>
        </div>

        <!-- <select name="books-categories" class="books-category-select">
          <option>Categories</option>
          <option value="">All Categories</option>
        </select> -->

        <div class="books-custom-select">
          <div class="books-selected">Categories</div>
          <div class="books-options-container">
            <div class="books-option" data-value="all">All categories</div>
          </div>
        </div>
      </div>

      <ul class="books-category">
        <li
          class="books-category-item selected"
          data-category-name="books-all-categories"
        >
          All categories
        </li>
      </ul>
    </div>
    <div class="books-box-cards">
      <div class="book-card">
        <ul class="books-list"></ul>
        <!-- <span class="books-loader"></span> -->
        <div class="books-button-load-more">
          <button class="books-load-more">Load more</button>
        </div>
      </div>
    </div>
  </div>
</section>
