<section id="books" class="books container">
  <div class="books-content">
    <div class="books-categories">
      <h2 hidden>Trending books</h2>
      <div class="books-categories-block">
        <div class="books-category-title">
          <h3>Books</h3>
          <p>
            Showing <span class="books-carrent-quantity">24</span> of
            <span class="books-all-quantity">100</span>
          </p>
        </div>
        <div class="books-custom-select">
          <div class="books-selected">Categories</div>
          <div class="books-options-container"></div>
        </div>
      </div>

      <ul class="books-category"></ul>
    </div>
    <div class="books-box-cards">
      <div class="book-card">
        <ul class="books-list"></ul>
        <span class="loader"></span>
        <div class="books-button-load-more">
          <button class="books-load-more">Load more</button>
        </div>
      </div>
    </div>
  </div>
</section>
