<section class="feedbacks container" id="feedbacks">
    <h2 class="feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-about">See what our readers are saying about us!</p>

    <div class="swiper feedbacks-swiper">
        <ul class="swiper-wrapper feedbacks-wrapper">
            <li class="swiper-slide feedbacks-slide">
                <p class="feedbacks-text">Great selection, fast delivery, and beautifully packaged books. My go-to store
                    for weekend reads!</p>
                <div class="feedbacks-card">
                    <picture>
                        <source srcset="img/feedbacks/Jane@1x.webp 1x, img/feedbacks/Jane@2x.webp 2x" type="image/webp">
                        <img src="img/feedbacks/Jane@1x.jpg"
                            srcset="img/feedbacks/Jane@1x.jpg 1x, img/feedbacks/Jane@2x.jpg 2x" alt="author"
                            class="feedb-photo">
                    </picture>

                    <div class="feedbacks-profile-info">
                        <p class="feedb-name">Jane Doe</p>
                        <p class="feedbacks-from">Book Lover, Reader</p>
                    </div>
                </div>
            </li>

            <li class="swiper-slide feedbacks-slide">
                <p class="feedbacks-text">Customer service was super helpful, and my order arrived earlier than
                    expected. Highly recommend!</p>
                <div class="feedbacks-card">
                    <picture>
                        <source srcset="img/feedbacks/John@1x.webp 1x, img/feedbacks/John@2x.webp 2x" type="image/webp">
                        <img src="img/feedbacks/John@1x.jpg"
                            srcset="img/feedbacks/John@1x.jpg 1x, img/feedbacks/John@2x.jpg 2x" alt="author"
                            class="feedb-photo">
                    </picture>
                    <div class="feedbacks-profile-info">
                        <p class="feedb-name">John Smith</p>
                        <p class="feedbacks-from">Editor, BookMag</p>
                    </div>
                </div>
            </li>

            <li class="swiper-slide feedbacks-slide">
                <p class="feedbacks-text">Love the curated picks and clear descriptions. Makes it easy to find my next
                    favorite book. Truly a joy to browse!</p>
                <div class="feedbacks-card">
                    <picture>
                        <source srcset="img/feedbacks/Emily@1x.webp 1x, img/feedbacks/Emily@2x.webp 2x"
                            type="image/webp">
                        <img src="img/feedbacks/Emily@1x.jpg"
                            srcset="img/feedbacks/Emily@1x.jpg 1x, img/feedbacks/Emily@2x.jpg 2x" alt="author"
                            class="feedb-photo">
                    </picture>
                    <div class="feedbacks-profile-info">
                        <p class="feedb-name">Emily Johnson</p>
                        <p class="feedbacks-from">Author, Novelist</p>
                    </div>
                </div>
            </li>

            <li class="swiper-slide feedbacks-slide">
                <p class="feedbacks-text">I found this app while exploring Lalala Hills — such a cozy place for book
                    lovers! Highly recommend, absolutely love it! </p>
                <div class="feedbacks-card">
                    <picture>
                        <source srcset="img/feedbacks/Dem@1x.webp 1x, img/feedbacks/Dem@2x.webp 2x" type="image/webp">
                        <img src="img/feedbacks/Dem@1x.jpg"
                            srcset="img/feedbacks/Dem@1x.jpg 1x, img/feedbacks/Dem@2x.jpg 2x" alt="author"
                            class="feedb-photo">
                    </picture>

                    <div class="feedbacks-profile-info">
                        <p class="feedb-name">Dimetry Jasper</p>
                        <p class="feedbacks-from">Reader, Tototo City</p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="feedbacks-controls">
            <div class="feedbacks-pagination"></div>

            <div class="feedbacks-buttons">
                <button class="feedbacks-button-prev" aria-label="Previous slide">
                    <svg class="feedbacks-arrow" width="24" height="24">
                        <use href="img/sprite.svg#left-arrow-alt"></use>
                    </svg>
                </button>
                <button class="feedbacks-button-next" aria-label="Next slide">
                    <svg class="feedbacks-arrow" width="24" height="24">
                        <use href="img/sprite.svg#right-arrow-alt"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>