<footer class="footer container">
    <div class="footer_container">
      <div class="nav_container">
        <a href="#" class="footer_logo_link">
          <svg class="footer_logo" width="100" height="30">
            <use href="img/logo.svg#logo"></use> 
          </svg>
        </a>
        <ul class="footer_nav_list">
          <li><a href="#" class="footer_nav-link">Home</a></li>
          <li><a href="#books" class="footer_nav_link">Books</a></li>
          <li><a href="#feedback" class="footer_nav_link">Feedback</a></li>
          <li><a href="#location" class="footer_nav_link">Location</a></li>
        </ul>
      </div>
      <div class="footer_form_wrapper">
        <p class="footer_form_title">Join</p>
        <form class="footer_form">
          <input type="email" class="footer_input" placeholder="Enter your email" required name="email">
          <button type="submit" class="footer_btn_submit">Sign Up</button>
        </form>
        <p class="footer_required_field_text">* Required field</p>
      </div>
    </div>

    <div class="footer_divider"></div>
    <div class="footer_copyright">
      <p>© 2025 Booksy. All rights reserved.</p>
    </div>
</footer>
