<footer class="footer">
  <div class="container">
    <div class="footer_container">
      <div class="nav-container">
        <a href="#" class="footer__logo-link">
          <svg class="footer__logo" width="100" height="30">
            <use href="img/logo.svg#logo"></use> 
          </svg>
        </a>
        <ul class="footer__nav-list">
          <li><a href="#" class="footer__nav-link">Home</a></li>
          <li><a href="#books" class="footer__nav-link">Books</a></li>
          <li><a href="#feedback" class="footer__nav-link">Feedback</a></li>
          <li><a href="#location" class="footer__nav-link">Location</a></li>
        </ul>
      </div>
      <div class="footer__form-wrapper">
        <p class="footer__form-title">Join</p>
        <form class="footer__form">
          <input type="email" class="footer__input" placeholder="Enter your email" required name="email">
          <button type="submit" class="footer__btn-submit">Sign Up</button>
        </form>
        <p class="footer__required-field-text">* Required field</p>
      </div>
    </div>
    
    <div class="footer__divider"></div>
    <div class="footer__copyright">
      <p>© 2025 Booksy. All rights reserved.</p>
    </div>
  </div>
</footer>
