<header class="header-section">
  <div class="header">
    <div class="header-logo">
      <svg width="83" fill="black" height="21" class="header-svg">
        <use href="/src/img/header_symbol.svg#icon-header_booksy_svg"></use>
      </svg>
    </div>

    <nav class="header_nav">
      <ul class="header-menu">
        <li><a href="#home" class="header-a">Home</a></li>
        <li><a href="#books" class="header-a">Books</a></li>
        <li><a href="#feedbacks" class="header-a">Feedbacks</a></li>
        <li><a href="#events" class="header-a">Events</a></li>
        <li><a href="#location" class="header-a">Location</a></li>
      </ul>
    </nav>

    <button type="button" class="header-burger-btn" data-menu-open>
      <svg class="header-menu-icon" width="24" height="24">
        <use href="/src/img/header_symbol.svg#icon-header_burger"></use>
      </svg>
    </button>

    <div class="mobile-menu" data-menu>
      <button type="button" class="mobile-close-btn" data-menu-close>
        <svg width="24" height="24">
          <use href="/src/img/header_symbol.svg#icon-header_close_icon"></use>
        </svg>
      </button>
      <ul class="mobile-menu-list">
        <li><a href="#home" class="mobile-menu-link">Home</a></li>
        <li><a href="#books" class="mobile-menu-link">Books</a></li>
        <li><a href="#feedbacks" class="mobile-menu-link">Feedbacks</a></li>
        <li><a href="#events" class="mobile-menu-link">Events</a></li>
        <li><a href="#location" class="mobile-menu-link">Location</a></li>
      </ul>
    </div>
  </div>
</header>