<section class="location container">
  <div class="location-hero-div">
    <div class="location-text-div">
      <p class="location-text">Location</p>
      <h2 class="location-hero-title">How to find us</h2>
      <p class="location-hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>
    <div class="location-address-div">
      <address class="location-address">
        <ul class="location-list">
          <li class="location-item">
            <svg class="location-svg" width="24" height="24">
              <use href="/img/sprite.svg#envelope"></use>
            </svg>
            <div class="location-text-group">
              <p class="location-item-text">Email</p>
              <a class="location-link" href="hello@booksy.com"
                >hello@booksy.com</a
              >
            </div>
          </li>
          <li class="location-item">
            <svg class="location-svg" width="24" height="24">
              <use href="/img/sprite.svg#phone"></use>
            </svg>
            <div class="location-text-group">
              <p class="location-item-text">Phone</p>
              <a class="location-link" href="+61 (241) 304-3012"
                >+61 (241) 304-3012</a
              >
            </div>
          </li>
          <li class="location-item">
            <svg
              class="location-svg"
              width="24"
              height="24"
              fill="black"
              stroke="black"
            >
              <use href="/img/sprite.svg#map"></use>
            </svg>
            <div class="location-text-group">
              <p class="location-item-text">Office</p>
              <p class="location-item-address">
                123 Books St, Sydney NSW 2000 AU
              </p>
            </div>
          </li>
        </ul>
      </address>
    </div>
  </div>
  <div class="location-map">
    <iframe
      class="location-map-iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d852732.0018631687!2d150.73608065537252!3d-33.397571654624755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e0!3m2!1suk!2sua!4v1751464233422!5m2!1suk!2sua"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
