:root {
  --font-color: #0b0500;
  --background-color:#FCEEE6;
  --background-hidden-collor: rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--background-color);
  color: #1b414b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--background-color);
  }
}