@import url('./custom-select.css');

/* #region categories */
.books-categories-block {
  margin-bottom: 24px;
}

.books-category-select {
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 12px;
  width: 342px;
  height: 43px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
  background: rgba(11, 5, 0, 0.05);

  margin-bottom: 24px;
}

.books-category {
  display: none;
}

.books-category-item {
  cursor: pointer;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .books-categories-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .books-category-title p {
    margin-left: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .books-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .books-category-select {
    display: none;
  }

  .books-category {
    display: block;
    width: 100%;
  }

  .books-categories {
    width: 308px;
    margin-right: 24px;

    /* max-height: 430px; */
    overflow: auto;
  }

  .books-category li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Добавить многоточие (...) в конце */
    max-width: 100%;
  }
}

/* #endregion categories */

/* #region card */

.books-box-cards {
  width: 100%;
}

.books-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.books-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.books-item img {
  border-radius: 8px;
  width: 343px;
  height: 487px;
}

.books-category-title,
.book-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px 0;
  width: 100%;
}

.book-card-heading {
  width: 171px;
  height: 45px;
}

.book-card-heading h3 {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #0b0500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Добавить многоточие (...) в конце */
  max-width: 100%;
}

.book-card-heading p {
  font-size: 14px;
  color: #0b0500;
}

.book-card-price {
  font-weight: 600;
  font-size: 20px;
  color: #0b0500;
}

.book-learn-more {
  border: 1px solid #0b0500;
  border-radius: 4px;
  padding: 8px 20px;
  width: 100%;
  height: 40px;
}

.book-learn-more:hover,
.book-learn-more:focus {
  background-color: #e15d05;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .books-list {
    gap: 24px;
  }
  .books-list .books-item {
    width: calc((100% - 24px) / 2);
  }
  .books-item img {
    width: 340px;
    height: 483px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .books-list .books-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .books-item img {
    /* width: 227px; */
    width: 100%;
    height: 322px;
  }
}

/* #endregion card */

.books-button-load-more {
  text-align: center;
}

.books-load-more {
  border: 1px solid #e15d05;
  border-radius: 4px;
  padding: 12px 24px;
  width: 342px;
  height: 48px;

  background: #e15d05;

  margin-top: 24px;
  margin-bottom: 32px;
  /* margin: 24px auto 32px; */
}

.books-load-more:hover,
.books-load-more:focus {
  background-color: #fff;
}
