.book-modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.is-open {
  display: flex;
}

body.no-scroll {
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
  max-width: 343px;
  padding: 64px 16px;
  background-color: #FCEEE6;
  position: relative;
  margin: 64px auto;
}

.book-modal-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}


.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0B0500;
  width: 32px;
  height: 32px;
  top: 15px;
  right: 15px;
  font-size: 24px;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-book-image {
  width: 309px;
  height: auto;
}

.book-modal-form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 8px;
}

.quantity-button {
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0B0500;
  border-radius: 4px;
  color: #0B0500;
  font-size: 16px;
  background-color: transparent;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.quantity-button:hover {
  background-color: #EA8D50;
}

.quantity-input {
  width: 42px;
  height: 40px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0B05000D;
  border: 1px solid #0B050026;
  border-radius: 4px;
}

.book-form-buttons {
  width: 311px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  margin-top: 16px;
}

.book-add-to-card,
.book-buy-now {
  border-radius: 4px;
  padding: 12px 24px;
  width: 311px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.book-add-to-card {
  border: 1px solid #E15D05;
  background: #E15D05;
  color: white;
}

.book-add-to-card:hover {
  background-color: #0B0500;
}

.book-buy-now {
  background-color: transparent;
  border: 1px solid #0B0500;
}

.book-buy-now:hover {
  background-color: #EA8D50;
}

.book-modal-right {
  flex: 1;
}

.book-modal-heading {
  width: 311px;
}

.book-modal-heading h3 {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  color: #0b0500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-modal-heading p {
  width: 100%;
  font-size: 14px;
  color: #0b0500;
}

.accordion-list {
  margin-top: 32px;
}

.accordion-container .accordion-item {
  border-top: 1px solid #0B050026;
  background-color: transparent;
}

.accordion-item .ac-header {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.ac-header .ac-trigger {
  font-size: 18px;
  font-weight: 600;
  padding: 0px !important;
}

.accordion-container .accordion-item {
  width: 311px;
}


@media screen and (min-width: 768px) {
  .modal-content {
    max-width: 704px;
    padding: 64px 32px;
  }

  .book-modal-content {
    flex-direction: row;
  }

  .book-modal-right {
    width: 309px;
  }

  .modal-book-image {
    width: 309px;
    height: auto;
  }

  .book-modal-heading {
    width: 307px;
  }

  .book-form-buttons {
    flex-direction: column;
    width: 307px;
  }

  .accordion-container .accordion-item {
    width: 307px;
  }
}

@media screen and (min-width: 1440px) {

  .modal-content {
    max-width: 1300px;
    padding: 64px 104px;
    margin: 64px auto;
  }

  .book-form-buttons {
    width: 642px;
    flex-direction: row;
  }

  .book-modal-heading {
    width: 759px;
  }

  .accordion-container .accordion-item {
    width: 100%;
  }
}