.custom-select-wrapper {
    position: relative;
    width: 342px;
    user-select: none;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    background: rgba(11, 5, 0, 0.05);
    cursor: pointer;
    font-size: 18px;
    line-height: 150%;
    color: #0B0500;
    transition: all 0.2s ease;
}

.custom-select-trigger:hover {
    border-color: rgba(18, 18, 18, 0.3);
}
.custom-select-trigger .arrow{
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M16.293 8.79297L12 13.086L7.70697 8.79297L6.29297 10.207L12 15.914L17.707 10.207L16.293 8.79297Z' fill='%230B0500'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.custom-select-trigger.open .arrow {
    transform: rotate(180deg);
}

.custom-options {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    border-radius: 4px;
    border: 1px solid rgba(11, 5, 0, 0.15);
   border-radius: 4px;
    background-color: #FCEEE6;
    max-height: 256px;
    overflow-y: auto;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
}
.custom-options.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.custom-option {
    padding: 14px 24px;
    color: #0B0500; 
    cursor: pointer;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.custom-option:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.custom-option:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.custom-option:hover,
.custom-option.selected {
    background-color: #DCDCDC; 
    color: #0B0500; 
}
.custom-options::-webkit-scrollbar {
    width: 5px; 
}
.custom-options::-webkit-scrollbar-thumb {
    background: #E15D05; 
    border-radius: 4px;
}

.custom-options::-webkit-scrollbar-thumb:hover {
    background: #c95508;
}
@media only screen and (min-width: 768px) {
  .custom-select-wrapper{
    width: 249px;
  }
}