.feedbacks {
    padding: 64px 16px;
    text-align: start;
}

.feedbacks-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
    padding-bottom: 24px;
}

.feedbacks-about {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
    padding-bottom: 80px;
}

.feedbacks-swiper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.feedbacks-wrapper {
    display: flex;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.feedbacks-slide {
    border: 1px solid rgba(11, 5, 0, 0.15);
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 32px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.feedbacks-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 70px;
}

.feedbacks-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
}

.feedbacks-profile-info h4 {
    font-weight: 600;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.feedbacks-from {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
}

.feedbacks-arrow {
    fill: #fff;
}

.feedbacks-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

}

.feedbacks-button-next,
.feedbacks-button-prev {
    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: #e15d05;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedbacks-button-next[disabled],
.feedbacks-button-prev[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.feedbacks-button-next:active,
.feedbacks-button-prev:active {
    background: #5a2502;
}

.feedbacks-button-next:hover,
.feedbacks-button-prev:hover,
.feedbacks-button-next:focus,
.feedbacks-button-prev:focus {
    background: #fceee6;
    outline: none;
}

.feedbacks-button-next:disabled .feedbacks-arrow,
.feedbacks-button-prev:disabled .feedbacks-arrow {
    fill: #0b0500;
}

.feedbacks-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

}

.feedbacks-pagination {
    margin-top: 0;
}


.feedbacks-pagination .swiper-pagination-bullet {
    background-color: #d3c2b8;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 0 4px;
    border-radius: 50%;
}

.feedbacks-pagination .swiper-pagination-bullet-active {
    background-color: #1d120c;
}


@media only screen and (min-width: 768px) {

    .feedbacks {
        padding: 64px 32px;
    }

    .feedbacks-card {
        padding-bottom: 0;
    }

    .feedbacks-text {
        width: 277px;
    }
}

@media only screen and (min-width: 1440px) {
    .feedbacks {
        padding: 64px 64px;
    }

    .feedbacks-text {
        width: 357px;
    }
}