.header-section {
    background: #fceee6;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.header-logo {
    display: flex;
    align-items: center;

}

.header-svg {
    display: block;
    width: 83px;
    height: auto;
    fill: black;
}

.header-a {
    display: none;
}

.header-li {
    list-style: none;
}

.header-burger-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 14px;
    right: 20px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.header-menu-icon {
    position: relative;
    width: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

}

.mobile-menu.open {
    background: #fceee6;
    transform: translateX(0);
}

.mobile-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.mobile-menu-link {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    color: #0b0500;
}

.header-link {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

body.menu-open {
    overflow: hidden;
}

@media screen and (min-width: 768px) {

    .header-burger-btn,
    .mobile-menu {
        display: none;
    }

    .header {
        justify-content: space-between;
        padding: 20px 80px;
    }

    .header-li {
        display: flex;
    }

    .header-a {
        font-family: "Rubik", sans-serif;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 4px;
        font-size: 16px;
        line-height: 1.5;
        color: #0b0500;
    }

    .header-menu {
        font-family: "Rubik", sans-serif;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 32px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 20px 80px;
    }

    .header-menu {
        gap: 40px;
    }

    .header-a {
        font-size: 16px;

        font-family: "Rubik", sans-serif;
    }
}