.hero {
  position: relative;
  width: 100%;
}

.hero-heading {
  display: none;
}


.slide-bg {
  width: 100%;
  height: 199px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}



.hero-content {
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px; /* расстояние между h2 и кнопкой */
}
.hero-content h2 {
width: 228px;
height: 56px;
font-weight: 600;
font-size: 20px;
line-height: 1.4;
letter-spacing: -0.01em;
color: #fff;
}

.hero-content .btn {
  display: inline-block;
  width: 117px;
  height: 20px;
  background-color: #e15d05;
  text-align: center;
  line-height: 20px; /* Совпадает с высотой кнопки для вертикального центрирования */
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 8px;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  display: none !important;
  border-radius: 0 !important;
  width: 44px !important;
  height: 44px !important;
}


/* Заголовок и стрелки */
.hero-controls {
display: flex;
justify-content: space-between;
align-items: center;
  /* flex-wrap: wrap; */
  /* gap: 16px; */
margin-top: 24px;
}

.hero-title {
 width: 343px;
  height: 144px;
font-weight: 600;
font-size: 40px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #0b0500;

}

.swiper-buttons {
  display: flex;
  gap: 12px;
}

/* Кастомные квадратные кнопки */


.swiper-buttons button:hover,
.swiper-buttons button:focus,
.hero-content .btn:hover,
.hero-content .btn:focus {
  background-color: #b44a04;
}



@media (max-width: 767px) {
.hero-heading.mobile {
    display: block;
  }

  /* .hero-controls {
    flex-direction: column;
    align-items: flex-start;
    
  } */

  .swiper-buttons {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1439px) {
.hero-heading.tablet {
    display: block;
  }

  /* .slide-wrapper {
    border-radius: 16px;
    overflow: hidden;
  } */

 /* ==================================================== */
  .slide-bg {
  height: 274px;
  border-radius: 12px;
}



.hero-content {
  left: 40px;
  bottom: 32px;
}

.hero-content h2 {
width: 389px;
height: 76px;
font-weight: 600;
font-size: 32px;
line-height: 1.2;
}

.hero-content .btn {
  width: 164px;
  height: 32px;
  line-height: 32px; /* Совпадает с высотой кнопки для вертикального центрирования */
  font-size: 16px;
}

/* Заголовок и стрелки */
.hero-title {
 width: 560px;
height: 96px;
}

/* .swiper-buttons {
  display: flex;
  gap: 24px;
} */

/* Кастомные квадратные кнопки */
.custom-prev,
.custom-next {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 48px;
  height: 48px;
  background-color: #e15d05;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 0;
  transition: background-color 0.3s;
}
}

.swiper-buttons button:hover,
.swiper-buttons button:focus,
.hero-content .btn:hover,
.hero-content .btn:focus{
  background-color: #b44a04;
}

.custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus {
  background-color:#5a2502;
}



.custom-prev:disabled,
.custom-next:disabled {
  background-color: #e15d05;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
}

.custom-prev,
.custom-next {
  transition: background-color 0.3s, opacity 0.3s;
}

/* .swiper-buttons button {
  background-color: orange;
  border: none;
  border-radius: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */



.swiper-buttons svg {
  width: 24px;
  height: 24px;
  fill: black;
}


@media (min-width: 1440px) {
  .hero-heading.desktop {
    display: block;
  }

   .slide-bg {
  height: 395px;
  border-radius: 16px;
}


.hero-content {
  left: 56px;
  bottom: 56px;
  gap: 20px;
}

.hero-content h2 {
width: 561px;
height: 124px;
font-size: 52px;
}

.hero-content .btn {
  width: 227px;
  height: 40px;
  line-height: 40px; /* Совпадает с высотой кнопки для вертикального центрирования */
  font-size: 16px;
}

/* Заголовок и стрелки */
.hero-title {
    width: 560px;
    height: 124px;
}

/* .swiper-buttons {
  display: flex;
  gap: 24px;
} */

/* Кастомные квадратные кнопки */
.custom-prev,
.custom-next {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 48px;
  height: 48px;
  background-color: #e15d05;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 0;
  transition: background-color 0.3s;
}
}

/* .swiper-buttons button:hover,
.swiper-buttons button:focus,
.hero-content .btn:hover,
.hero-content .btn:focus{
  background-color: #b44a04;
} */

/* .custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus {
  background-color:#5a2502;
} */



/* .custom-prev:disabled,
.custom-next:disabled {
  background-color: #e15d05;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.2;
} */

/* .custom-prev,
.custom-next {
  transition: background-color 0.3s, opacity 0.3s;
} */

/* .swiper-buttons button {
  background-color: orange;
  border: none;
  border-radius: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */



/* .swiper-buttons svg {
  width: 24px;
  height: 24px;
  fill: black;
} */

