.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding: 64px 16px;
}
.location-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
  color: #0b0500;
}
.location-hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
  padding: 16px 0 24px 0;
}
.location-hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
  padding-bottom: 32px;
}
.location-text-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.location-svg {
  fill: #0b0500;
}
.location-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 24px;
}
.location-item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0500;
  margin: 0;
}
.location-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0b0500;
  cursor: pointer;
}
.location-item-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
}
.location-map {
  width: 100%;
  height: 300px;
  max-width: 100%;
  overflow: hidden;
}
.location-map-iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;
    padding: 64px 32px;
  }
  .location-hero-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
  }
  .location-text-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 336px;
    height: 230px;
  }
  .location-address-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
    width: 336px;
    height: 244px;
  }
  .location-map {
     height: 395px;
  }
}

@media screen and (min-width: 1440px) {
  .location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;
    padding: 64px;
  }
  .location-text-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    width: 732px;
    height: 176px;
  }
  .location-address-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0px;
    width: 500px;
    height: 244px;
  }
  .location-map {
    height: 738px;
  }
}
