.scroll-up {
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: none;

    background-color: #fceee62f;
    cursor: pointer;
    z-index: 99999;

    border: 1px solid rgba(11, 5, 0, 0.15);
    padding: 12px;
    width: 48px;
    height: 48px;

}

.scroll-up:hover,
.scroll-up:focus {
    background-color: #e15d05;
}

.scroll-up.show {
    display: block;
}

.scroll-up-icon {
    fill: #0B0500;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .scroll-up {
        bottom: 15px;
        right: 15px;
    }
}

@media only screen and (min-width: 1440px) {
    .scroll-up {
        bottom: 40px;
        right: 40px;
    }
}